body{
    margin-right: 200px;
    margin-left: 200px;
}
header ul {
    list-style-type: none;
}
header li{
    display: inline;
    
    

}
aside p{
    font-family: Arial;
    font-style: normal;
    text-align: justify;
}